.jumbotron {
  text-align: center;
  background-color: yellow;
}
.sidebar {
  padding: 20px;
  text-align: center;
  width: auto;
  background-color: lightgreen;
  margin-right: 20px;
}
body {
  margin: 10px;
  background-image: url(http://www.rvrma.org/images/icons-lifestyle/tennis/PingPont.jpg);
}
.container {
  border: solid;
  border-color: red;
  background-color: blue;opacity:0.85;
}
h1{
  color:orange;
}
h3{
  color:orange;
}
p{
  color:orange;
}
li{
  color:orange;
}
